<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
</head>

<body>
    <header>
        <h1>Vue Counter</h1>
    </header>
    <section id="user-counter">
        <button v-on:click="onAdd(5)">Add</button>
        <button v-on:click="onReduce(5)">reduce</button>
        <p>{{ getCounter }}</p>
        <p v-once>{{ counter }}</p>
        <button v-on:click="onReduceOtro(5)">reduce</button>
        <p>{{ counter2 }}</p>
        <p v-once>{{ counter2 }}</p>

    </section>
    <header>
        <h1>Vue Goals List</h1>
    </header>
    <section id="user-goal">
        <input type="text" v-on:input="getGoal" />
        <button v-on:click="addGoal">add</button>
        <ul>
            <li :class="getClass(index)" v-for="(goal,index) in goals" v-html="goal.name" @click="setSelected(index)">
            </li>
        </ul>
    </section>
    <header>
        <h1>User Chat</h1>
    </header>
    <section id="user-chat">
        Usuario: <input type="text" v-model="userName" />
        <br />
        <textarea disabled rows="4" cols="50">{{ textBox }}</textarea>
        <br />
        <input type="text" v-model="newText" v-on:keydown.enter="addText" />
        <button v-on:click="addText">add</button>
    </section>
</body>

</html>|